.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 10px;
    outline: 10px;
    border-bottom: 1px solid #ccc;
    background: transparent;
}